# Core dependencies
numpy>=1.26.0
opencv-python==4.8.0.76
pillow==10.0.0

# AI and CV
ultralytics==8.0.196
torch==2.0.1
torchvision==0.15.2
transformers==4.30.2
mediapipe>=0.10.0

# API and Web
fastapi==0.103.1
uvicorn==0.23.2
python-multipart==0.0.6
requests==2.31.0

# Dashboard
dash==2.12.1
dash-bootstrap-components==1.4.2
plotly==5.16.1
pandas==2.0.3

# Utils
python-dotenv==1.0.0
pydantic==2.3.0